@import "../../globals/variables.scss";

.footer {
  border: 2px solid black;
  width: 100%;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      border: 2px solid yellow;
      width: 500px;
      height: 500px;
    }
  }
}
